// cores
$cor-primaria: #145197;
$cor-secundaria: #EDEDED;
$cor-terciaria: #041E3B;

$hover-cor-primaria: darken($cor-primaria, 3%);
$hover-cor-secundaria: #D9D9D9;
$hover-cor-terciaria: darken($cor-terciaria, 10%);


//tamanhos
$width-card-publico: 260px;
$padding-card-publico: 32px;









