@import '../Variaveis/Variaveis.scss';

.servicos {
    margin-top: 64px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.bg-servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $hover-cor-secundaria;
    width: 324px;
    border-radius: 40px;
    padding-bottom: 16px;
    margin-bottom: 64px;
    gap: 32px;
}

.titulo-servicos {
    color: $cor-primaria;
    font-size: 1.2rem;
    font-weight: bold;
}

.cards-servicos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}
.bt-servicos-dentro {
    display: none;
}

@media (min-width:760px) {

    .bt-servicos-dentro{
        display: block;
    }

    .bt-servicos-fora {
        display: none;
    }

    .titulo-servicos {
        font-size: 1.6rem;
    }

    .bg-servicos {
        width: 648px;
        padding-bottom: 32px;
    }
}

@media (min-width:1000px) {

    .titulo-servicos {
        font-size: 2rem;
    }

    .bg-servicos {
        width: 972px;
    }
}

@media (min-width:1440px) {


    .titulo-servicos {
        font-size: 2.5rem;
    }

    .bg-servicos {
        width: 1152px;
    }
}

